@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
html, body, #__next { height: 100%; }
body { @apply antialiased; }
pre { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
